<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/animation"
        android:label="@string/app_name"
        android:roundIcon="@drawable/animation"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".DriverOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".ClientOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".OrderFoodAdapter"
            android:exported="false" />
        <activity
            android:name=".AvailableOrderFoodActivity"
            android:exported="false" />
        <activity
            android:name=".AddOrderFoodActivity"
            android:exported="false" />
        <activity
            android:name=".OrderFood"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AddTripFragment"
            android:exported="false" />
        <activity
            android:name=".HomeFragment"
            android:exported="false" />
        <activity
            android:name=".TripsMainFragment"
            android:exported="false" />
        <activity
            android:name=".DriverHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".AvailableTripsActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerTripsActivity"
            android:exported="false" />
        <activity
            android:name=".DriverCarListActivity"
            android:exported="false" />
        <activity
            android:name=".driverDetails"
            android:exported="false" />
        <activity
            android:name=".customerSearchDriverCars"
            android:exported="false" />
        <activity
            android:name=".driverSeeUpdateCars"
            android:exported="false" />
        <activity
            android:name=".settings"
            android:exported="false" />
        <activity
            android:name=".addCar"
            android:exported="false" />
        <activity
            android:name=".loginActivity"
            android:exported="false" />
        <activity
            android:name=".admin"
            android:exported="false" />
        <activity
            android:name=".registerActivity"
            android:exported="false" />
        <activity
            android:name=".customerUpdateDetails"
            android:exported="false" />
        <activity
            android:name=".animation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".settingWifi"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".settingFlightMode"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>